<!-- good thing template -->
<script id="good_thing_tpl" type="text/html">
    <li class="list-group-item" id="good_thing">
        <div id='data_container' data-id={{id}} data-user_id={{user_id}} data-type='good_thing'>
            <a name="{{id}}" id="{{id}}"></a>
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                    <div id="status">
                        <a href="../posts/?postid={{id}}" target="_blank">
                            <span class="local-time" data-name="{{cursor}}" data-url="{{upload_url}}">{{created}}</span>
                        </a>
                        {{#current_user}}
                            • <span>{{public}}</span>
                        {{/current_user}}
                    </div>
                    <div id="content">
                        {{#img_url}}<p><img src="{{img_url}}"/></p>{{/img_url}}
                        <p>{{good_thing}}</p>
                        {{#current_user}}<p id="content_reason">{{reason}}</p>{{/current_user}}
                    </div>
                    <div id="control">
                        {{#num_mentions}}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="mentions">with {{num_mentions}} others</a> • 
                        <ul class="dropdown-menu" id="mention_list">
                            {{#mentions}}
                            <li>{{name}}</li>
                            {{/mentions}}
                        </ul>
                        {{/num_mentions}}
                        {{#current_user}}
                            <span id='cheer'>
                                {{#is_cheered}}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="cheers">
                                        {{num_cheers}} cheers
                                    </a>
                                     <ul class="dropdown-menu" id="cheer_list">
                                        {{#cheer_names}}
                                        <li>{{cheer_name}}</li>
                                        {{/cheer_names}}
                                    </ul>
                                {{/is_cheered}}
                                {{^is_cheered}}
                                    {{num_cheers}} cheers
                                {{/is_cheered}}
                            </span>
                        {{/current_user}}
                        {{^current_user}}
                            <span id='cheer'>
                            {{#is_cheered}}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="cheers">{{num_cheers}} cheers 
                                </a>
                                 <ul class="dropdown-menu" id="cheer_list">
                                    {{#cheer_names}}
                                    <li>{{cheer_name}}</li>
                                    {{/cheer_names}}
                                </ul>
                            {{/is_cheered}}
                            {{^is_cheered}}
                                {{num_cheers}} cheers
                            {{/is_cheered}}
                            </span>
                            <a id='acheer' href="#" class="link" data-toggle={{#cheered}}"on"{{/cheered}}{{^cheered}}"off"{{/cheered}}>{{#cheered}}(uncheer){{/cheered}}{{^cheered}}(cheer){{/cheered}}</a>
                        {{/current_user}}
                         • 
                        {{#current_user}}<a href="#" class="link" id='delete'>delete</a> • {{/current_user}}
                        {{#is_commented}}
                            <a href="#" class="link" data-toggle="off" id='comment'>{{num_comments}} comment(s)</a>
                        {{/is_commented}}
                        {{^is_commented}}
                            <span id='comment'>{{num_comments}} comment(s)</span>
                        {{/is_commented}}
                    </div>
                    <!-- comments of the good thing -->
                    <div id="comments"></div>
                    <form id='comment_form'>
                            <input type="text" name="comment_text" placeholder="Comment" id="comment_text"/>
                    </form>
                </div>
            </div>
        </div>
    </li>
</script>

<!-- comment template -->
<script id='comment_tpl' type='text/html'>
    <hr>
    <div id='data_container' data-id={{id}} data-good_thing_id={{good_thing_id}} data-user_id={{user_id}} data-type='comment'>
        <div id="name">
            <h4 class="media-heading"><a href='../user/?userid={{user_id}}' id='profile_link' data-id={{user_id}}>{{display_name}}</a>:</h4>
        </div>
        <div id="content">{{comment_text}}</div>
        <div id="control">
            <span class="comment-time">{{comment_created}}</span>
            {{#current_user}} • <a href="#" class="link" id='delete'>delete</a>{{/current_user}}
        </div>
    </div>
</script>

<!-- more template -->
<script id='more_tpl' type='text/html'>
<div id='more'>
    <a href="#" class="link" data-toggle="off">More ..</a>
</div>
</script>

<!-- comment notification template -->
<script id='comment_notification_tpl' type='text/html'>
    <li>
        <a id="notification_link" href="#{{event_id}}" data-event_id={{event_id}}>{{from_user}} commented on your good thing</a>
    </li>
</script>

<!-- cheer notification template -->
<script id='cheer_notification_tpl' type='text/html'>
    <li>
        <a id="notification_link" href="#{{event_id}}" data-event_id="{{event_id}}">{{from_user}} cheered your good thing</a>
    </li>
</script>

<!-- mention notification template -->
<script id='mention_notification_tpl' type='text/html'>
    <li>
        <a id="notification_link" href="#{{event_id}}" data-event_id={{event_id}}>{{from_user}} mentioned you in a good thing</a>
    </li>
</script>

<!-- blank notification template -->
<script id='blank_notification_tpl' type='text/html'>
    <li>You have no new notifications</li>
</script>

<!-- wordcloud word template -->
<script id='word_cloud_tpl' type='text/html'>
    <a href="#" rel="{{count}}">{{word}}</a>
</script>
